@media (min-width: 1440px) {
  .bg-color {
    height: 70%;
  }
  .wave {
    top: 45vh;
  }

  .search-bar {
    form {
      flex-direction: row;
      justify-content: space-between;
      select {
        max-width: 50%;
        margin: 0;
        border-radius: 50px 0 0 50px;
      }
      button {
        width: 3vw;
        border-radius: 0 50px 50px 0;
      }
    }
  }

  .card {
    width: 30vw;
    height: 50vh;
    img {
      width: 30vw;
      height: 30vh;
    }
    h3,
    p {
      margin: 2vh 2vw;
    }
  }
}
