$font-stack: Source Sans Pro, Helvetica, sans-serif;
$primary-color: #e4eaf1;
$nav-button: #7f9fc5;
$nav-button-hover: #184070;
$form-button: #e4223f;
$form-button-hover: #ff4b66;

body {
  margin: 0px;
  min-height: 100vh;
  display: grid;
  font-family: $font-stack;
  font-size: 18px;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 'header' 'content' 'footer';
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  .nav-item {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    margin: 20px;
    color: $nav-button;
    transition: color 0.5s ease;
    &:hover {
      cursor: pointer;
      color: $nav-button-hover;
    }
  }
}

main {
  grid-area: content;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
}

h1 {
  color: $nav-button-hover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.wave-container {
  padding: 1vh 0 0 0;
  background-color: $primary-color;
}

.search-bar {
  margin-left: auto;
  margin-right: auto;
  max-width: 50vw;
  background-color: white;
  box-shadow: 0 10px 35px rgb(24 64 112 / 30%);
  border-radius: 50px;
  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    * {
      height: 8vh;
      border: none;
    }
    select {
      border-radius: 50px 0 0 50px;
    }
    button {
      color: white;
      width: 2vw;
      background-color: $form-button;
      border-radius: 0 50px 50px 0;
      transition: background-color 0.3s ease;
      i {
        font-size: 1rem;
        display: flex;
        align-items: center;
      }
      &:hover {
        cursor: pointer;
        background-color: $form-button-hover;
      }
    }
  }
}

.error-form {
  display: flex;
  justify-content: center;
  color: $form-button-hover;
}

.hidden {
  display: none;
}

.card {
  background-color: white;
  width: 12vw;
  height: 50vh;
  margin: 1vh 1vw;
  border-radius: 15px;
  box-shadow: 0 10px 35px rgb(24 64 112 / 10%);
  img {
    border-radius: 15px 15px 0 0;
    width: 12vw;
    height: 25vh;
  }
  h3 {
    padding: 0 1vw;
  }
  p {
    padding: 0 1vw;
    font-size: 0.8rem;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5vh;
}
